
.m2i-body {
    margin-top: 64px;
    margin-bottom: 64px;
}


/*
Modification des style css de Boostrap
*/
/*
.navbar-right {
float: right;
}
.navbar-right li {
float: left;
}/**/
/*.m2i-cover-onglet{
    text-align: center;
    padding: 15% 5% 28% 5%;
    /*transform: scale(1.2);*/
   /* background-color: darkgreen;
    color: white;
}/**/
/*.m2i-navbar{
margin-bottom: 0px;
border-radius: 0px;
}/**/
/*
.m2i-footerbar{
    color: #9d9d9d;
}

body{
}/**/


/*
Modification des style css de Boostrap
*/

.navbar-toggle {
    float: left;
    
}/*
/*
.panel-body .wheat {
    /*background-color: wheat;
}/**/

@media (min-width:768px){.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0}
.navbar-fixed-bottom,.navbar-fixed-top,.navbar-static-top{border-radius:0}
.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-0px}
}

/*Travaux*/

@media (min-width:768px){.navbar-toggle{display:none}
.navbar-nav>li>p{
    padding-top:15px;
    padding-bottom: 5px;
      margin-left: 15px;
      margin-right: 15px;
    }
}